################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Puzzel/v16
/.vs/VSWorkspaceState.json
