################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Puzzel/DesignTimeBuild/.dtbcache.v2
/.vs/Puzzel/v16/.suo
/PuzzelLibrary/obj
/PuzzelLibrary/bin/
/Forms/Obj
/PuzzleLibrary
/Puzzel
/packages
/Bin
/Forms/bin
/Changelog.txt
/bugs.txt
/concept.txt
/dhcp.msc

