<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Puzzel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <userSettings>
    <Puzzel.Properties.Settings>
      <setting name="ComboBox1" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="ComboBox2" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="ComboBox3" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="UserLog" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Profil_VFS" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Profil_TS" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Profil_ERI" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Profil_EXT" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Info_z_AD" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Szukaj_sesji" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Polacz" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Logoff" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="KomputerLog" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="KomputerInfo" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="DW" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="ExplorerC" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="ZdalneCMD" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Ping" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Zarzadzanie" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Pulpit_Zdalny" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Lista_program" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Karty_sieciowe" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Remote_Ping" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Remote_Tracert" serializeAs="String">
        <value>null</value>
      </setting>
    </Puzzel.Properties.Settings>
  </userSettings>
</configuration>
